<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="EtlTestDB" connectionString="Data Source=(local);Initial Catalog=EtlTestDb;Integrated Security = true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="EtlTestHttp" value="http://localhost:16115"/>
    <add key="EtlTestHttps" value="https://localhost:16116"/>
    <add key="EtlTestFtp" value="ftp://proectit:EMIfoX6aZ8uofnzex1RD@144.76.92.12"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.rapidsoft.ru"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>